.footer {
  justify-content: space-between;
  justify-content: space-between;
  padding: 50px;
  margin: 50px;
  width: 318px;
  margin-left: 200px;
}

.footer__copyright {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}
